/* screen sizes 500px and up */


@media screen and (max-width:500px) {
    * {box-sizing: border-box;}
    body {
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    div.alert-info{
        background: #CCFFFE;
        padding: .5em 7em;
        border: .1em solid #CCCCCC;
        width: 100%;
        text-align: center;
    }
    div a {
        text-decoration: none;
        color: black;
    }
    h1 {

        font-size: 3em;
        margin: 10px 0 30px 0;

    }
    .nav-links{
    }

    ul {
        list-style: none;
        padding: 0;
    }
    li {
        background: #CCCCCC;
        margin: .5em 0;
        padding: .5em 13.5em;
        width: 100%;
        text-align: center;
    }
    img{
        /*width: 339px;*/
        height: 224px;
    }

    section{
    }

    .sub-section {
        font-style: italic;
    }
    footer {
        align-self: flex-start;
    }
}

@media screen and (min-width:501px) {
    
     body {
         display: flex;
         flex-wrap: wrap;
        background: red;
         align-content: flex-start;
    }

    ul {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: flex-end;
    }
    li {

    }
.hidden-on-desktop {
    display: none;
}

}