/* screen sizes 500px and up */
* {box-sizing: border-box;}
.sub-section {
    font-style: italic;
}
img {
    width: 100%;

}
@media screen and (max-width:500px) {

    body {
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    div.alert-info {
        background: #CCFFFE;
        padding: .5em 7em;
        border: .1em solid #CCCCCC;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: black;
    }
    div a {
        text-decoration: none;
        color: black;
    }

    h1 {

        font-size: 3em;
        margin: 10px 0 30px 0;

    }
    nav {
        width: 100%;
        text-align: center;

    }

    ul {

        list-style: none;
        padding: 0;
    }
    li {
        background: #CCCCCC;
        margin: .5em 0;
        padding: .5em 13.5em;
    }

    footer {
        align-self: flex-start;
    }
}

@media screen and (min-width:501px) {

    .hidden-on-desktop {
        display: none;
    }

    body {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    h1 {
        width: 50%;
    }
    nav {
        width: 50%;


    }

    ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        height: 50%;


    }
    li {
        display: flex;
        align-items: center;
    }

    .main{
        width: 70%;
    }
    .sub-section{
        width: 30%

    }


}